:root,
[data-md-color-scheme=slate] {
  --md-primary-fg-color: #1f2937;
  --md-primary-fg-color--light: #23272c;
  --md-primary-fg-color--dark: #23272c;
}

[data-md-color-scheme=default] {
  --md-footer-bg-color: ##1c2531;
  --md-footer-fg-color: #a5a5a5;
  --md-footer-bg-color--dark: #1c2531;
  --md-footer-fg-color--dark: #a5a5a5;
  --md-footer-bg-color--light: #1c2531;
  --md-footer-fg-color--light: #a5a5a5;
}

[data-md-color-scheme="youtube"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

.md-tabs {
  line-height: 0.6;
}

.md-tabs__item {
  height: 2rem;
  margin-left: 5px;
  margin-right: 5px;
}

.md-tabs__item--active {
  background-color: rgba(30, 33, 41, 0.75);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px dotted #1b628f;
}

main a {
  color: #278ccc !important;
  text-decoration: underline !important;
}

main a:hover {
  color: #a5d2ee !important;
}

